
*.json
*.sqlite
*.lock
*.ide
*.ide-shm
*.ide-wal
*.exe
*.pdb
*.csproj
*.dll
*.sln
*.cache
*.txt
*.props
*.targets
Hello World/obj/Release/netcoreapp3.1/Hello World.AssemblyInfo.cs
Hello World/obj/Debug/netcoreapp3.1/Hello World.AssemblyInfo.cs
Hello World/.vs/Hello World/v16/.suo
Hello World/.vs/Hello World/DesignTimeBuild/.dtbcache
